---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import ExerciseCard from '@/components/react/exercise-card'
import DoubtCard from '@/components/react/doubt-card'
import AnecdoteCard from '@/components/react/anecdote-card'
import Layout from '@/layouts/Layout.astro'
import { getAllTags, getExercisesByTag, getDoubtsByTag, getAnecdotesByTag } from '@/lib/data-utils'
import { Icon } from 'astro-icon/components'

export async function getStaticPaths() {
  const tagMap = await getAllTags()
  const uniqueTags = Array.from(tagMap.keys())

  return Promise.all(
    uniqueTags.map(async (tag) => {
      const exercises = await getExercisesByTag(tag)
      const doubts = await getDoubtsByTag(tag)
      const anecdotes = await getAnecdotesByTag(tag)
      return {
        params: { id: tag },
        props: {
          tag,
          exercises,
          doubts,
          anecdotes,
        },
      }
    })
  )
}

const { tag, exercises, doubts, anecdotes } = Astro.props
const currentUrl = Astro.url;
---

<Layout canonicalUrl={currentUrl}>
  <PageHead
    slot="head"
    title={`Posts tagged with "${tag}"`}
    description={`A collection of posts tagged with ${tag}.`}
  />
  <Breadcrumbs
    items={[
      { href: '/tags', label: 'Tags', icon: 'lucide:tags' },
      { label: tag, icon: 'lucide:tag' },
    ]}
  />

  <div class="flex flex-wrap items-center gap-2">
    <h1 class="text-3xl font-medium">Posts tagged with</h1>
    <span
      class="bg-secondary flex items-center gap-x-1 rounded-full px-4 py-2 text-2xl font-medium"
    >
      <Icon name="lucide:hash" class="size-6 -translate-x-0.5" />{tag}
    </span>
  </div>

  <ul class="flex flex-col gap-y-4">
    {
      exercises.map(item => (
        <li>
          <ExerciseCard entry={item} />
        </li>
      ))
    }

    {
      doubts.map(item => (
        <li>
          <DoubtCard entry={item} />
        </li>
      ))
    }

    {
      anecdotes.map(item => (
        <li>
          <AnecdoteCard entry={item} />
        </li>
      ))
    }
  </ul>
</Layout>
